body{
    background-image: url("../assets/fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
  
  }
  
  
  .containerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 26px 0  26px;
  }
  
  .logo{
    width: 60.33px;
    height:8.3px  ;
    color: #F5F5F5;
    cursor: pointer;
 
  }

  
  .settingIcon{
    cursor: pointer;
    background: none;
    border: none;
  
  }
  
  span{
    color: crimson;
  }
  
  
 