.containerFooter {
 
  background: #1E1E1E;
  display: flex;
  justify-content: space-around;
  min-height: 64px;


 

}

.containerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}



.settingIcon  {

  color: #5E5859;
}


.active .settingIcon,
.containerIcon:hover .settingIcon {
  fill:  #ff3465;
}

.active .titleIcon,
.containerIcon:hover .titleIcon {
  color: #ff3465;
}


@media (min-width: 600px) {
  .titleIcon {
    font-size: 15px;
  }

  .settingIcon {
    width: 40px;
    height: 40px;
  }
}
