@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@1,200..1000&display=swap");
.containerMoney {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 18px 0 0;
}

.p {
  color: white;
  margin: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.containerPrice {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.price {
  color: white;
  padding: 10px 0;
  margin: 0;
}

.containerTitles {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.39);
  margin: 10px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.containerNumbers {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  font-size: 15px;
  background-color: rgba(128, 128, 128, 0.39);
}

.ingresos {
  color: rgb(62, 150, 62);
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.egresos {
  color: red;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.total {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: white;
}

p {
  margin: 8px;
}

.containerDescription {
  color: white;
  font-size: 10px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-weight: 100;
  padding: 5px;
}

.Def {
  background-color: red;
  padding: 5px;
  border-radius: 10px;
}

.Sur {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 9px;
  font-style: italic;
}

.detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  background-color: #35725f;
  border-radius: 16px;
  padding: 5px;
  display: flex;
  gap: 5px;
  width: 85px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.categoryText {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  text-align: center;
  font-weight: 300;
}

.containerDate {
  display: flex;
  justify-content: center;
  gap: 8px;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}

.day {
  display: flex;
  align-items: center;
  font-size: 35px;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.year {
  color: #ff3465;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 11px;
  font-style: italic;
}

.yearhora {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.mes {
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.numero {
  font-size: 50px;
}

.incom {
  color: #50ff34;
  font-size: 15px;
  min-width: 110px;
  max-width: fit-content;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.egress {
  color: #ff0000;
  font-size: 15px;
  min-width: 110px;
  max-width: fit-content;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.yearDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.btn {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btnDelete {
  background: none;
  border: none;
  padding-right: 10px;
  cursor: pointer;
}

.btnDeleteIcon:hover {
  fill: #ff0000;
}

.scrollContainer {
  max-height: calc(100vh - 360px);
  overflow-y: auto;
}

.firstIncom {
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
