.body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container {
  color: #ffffff;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
 margin-top: 47px;
 padding-top: 100px;

  display: flex;
 justify-content:center ;
 


}



.container h2 {
  text-align: center;
  font-size: 35px;
}

.title {
  color: #ff3465;
  font-weight: 100;
}

.imgUser {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 44px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 4px solid #0b0e10;
  justify-self: center;
  background-color: #ffffff;
  
 
  

}



form input {
  color: #ffffff;
  background-color: #0b0e10;
  height: 40px;
  border: none; 
  padding-left: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 5px;
 
  
}

.placeholder::placeholder {
  color: #ffffff; /* Cambia el color del placeholder */
}

.containerBtn {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
 
}

.containerBtn button {
  background: none;
  height: 50px;
  border-radius: 18px;
  border: 1px solid #ff34637c;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  width: 100px;
  letter-spacing: 1px;
  cursor: pointer;
}



